footer {
    color: var(--white);
    background-color: var(--dark);
    font-size: 0.9rem;
    width: 100%;
    position: absolute;
    display: flex;
    white-space: nowrap;
    align-items: center;
    bottom: 0;
}

#footer-content {
    width: 840px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#email-text {
    text-decoration: underline;
}

@media only screen and (min-width: 520px) {
    footer {
        gap: 0;
    }
    #footer-content {
        width: 840px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin: auto;
    }
}
