footer {
    color: var(--white);
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 520px) {
    footer {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        white-space: nowrap;
    }
}
