.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: var(--blueishDark);
    padding: 20px;
    padding-bottom: 5px;
    height: 175px;
    max-width: 840px;
    gap: 5px;
}

.logo-full {
    display: flex;
    gap: 15px;
    height: 65px;
}

.logo {
    height: 40px;
}

.header-name {
    font-size: 15px;
    height: 40px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    white-space: nowrap;
    display: none;
}
#name-undertitle {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .header-name {
        transition: all 0.1s linear;
    }
    .hidden {
        transition: visibility 0s 1.5s, opacity 1.5s linear;
    }
}

.socials-mobile {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: auto;
}

.socials-desktop {
    display: none;
}

.socials-desktop img,
.socials-mobile img {
    width: 36px;
    height: 36px;
    background-color: var(--socialsBtn);
    padding: 6px;
    box-shadow: none;
}

#open-btn {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

#close-btn {
    transform: scaleY(-1);
}

.dropdown {
    display: none;
}

.socials-btn:hover {
    cursor: pointer;
    background-color: var(--socialsBtnHover);
}

.email-btn {
    cursor: pointer;
}

#email-copy-txt {
    margin: auto;
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    color: var(--white);
    width: 130px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

@media only screen and (min-width: 355px) {
    .header-name {
        display: block;
    }
}

@media only screen and (min-width: 410px) {
    #name-undertitle-short {
        display: none;
    }
    #name-undertitle {
        display: block;
    }
}

@media only screen and (min-width: 410px) {
    .header-name {
        height: 65px !important;
        white-space: nowrap;
        font-size: 20px !important;
    }
    .logo {
        height: 52px !important;
    }
}

@media only screen and (max-width: 560px) {
    .socials {
        display: none;
    }
    .socials-mobile {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 10px;
    }
    .socials img,
    .socials-mobile img {
        box-shadow: none;
    }
    #open-btn {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    #close-btn {
        transform: scaleY(-1);
    }
    .dropdown {
        display: none;
    }
    .logo {
        height: 52px;
    }
    .header-name {
        font-size: 20px;
        height: 52px;
    }
    #email-copy-txt {
        top: 140px;
        left: 50%;
    }
}

@media only screen and (min-width: 570px) {
    .socials-mobile {
        display: none !important;
    }
    .socials-desktop {
        display: flex;
        gap: 6px;
        height: 36px;
    }
    .socials-desktop img,
    .socials-mobile img {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    #open-btn {
        box-shadow: none;
    }
    #close-btn {
        transform: scaleY(1);
    }
    .dropdown {
        display: flex;
    }
    .logo {
        height: 65px !important;
    }
    .header-name {
        white-space: normal;
        overflow: visible;
        font-size: 25px !important;
    }
    #email-copy-txt {
        top: 77%;
        left: 50%;
    }
}
