* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    /*font-weight: 500;*/
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #2D1C50;
    padding: 20px;
    padding-bottom: 5px;
    height: 200px;
    max-width: 750px;
}

.logo-full {
    display: flex;
    gap: 15px;
    height: 65px;
}

.header-name {
    white-space: nowrap;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    /*font-weight: 700;
    font-weight: 800;*/
    font-size: 25px;
}

.socials-mobile {
    display: none;
    max-height: 150px;
}

.socials {
    display: flex;
    gap: 6px;
    height: 36px;
}

.socials img, .socials-mobile img {
    width: 36px;
    height: 36px;
    background-color: #855BB8;
    padding: 6px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
}

.socials-btn:hover {
    cursor: pointer;
    background-color: #7546ad;
}

.banner {
    background-color: #CDA4FF;
    height: 325px;
    position: relative;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.5s, opacity 1.5s linear;
}

#email-copy-txt {
    margin: auto;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313131;
    color: white;
    width: 130px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.about-btn {
    font-family: 'Lexend', sans-serif;
    color: #fff;
    width: 225px;
    height: 40px;
    background: linear-gradient(to right, #A465F0, #7C57A8);
    border: 0;
    position: absolute;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.30);
}

.about-btn:hover {
    background: linear-gradient(to right, #a062eb, #6e4a9a);
    cursor: pointer;
}

main {
    max-width: 750px;
}

footer {
    height: 70px;
    color: white;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 90px;
}

@media only screen and (max-width: 550px) {
    .socials {
        display: none;
    }
    .socials-mobile {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 10px;
    }
    .socials img, .socials-mobile img {
        box-shadow: none;
    }
    #open-btn {
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
    }
    #close-btn {
        transform: scaleY(-1);
    }
    .dropdown {
        display: none;
    }
    .logo {
        height: 52px;
    }
    .header-name {
        font-size: 20px;
        height: 52px;
    }
    #email-copy-txt {
        top: 140px;
        left: 50%;
    }
}

@media only screen and (max-width: 390px) {
    .header-name {
        white-space: normal;
        font-size: 15px;
    }
    .logo {
        height: 40px;
    }
    .header-name {
        height: 40px;
    }
}