* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blueishDark: #2D1C50;
    --banner: #CDA4FF;
    --socialsBtn: #855BB8;
    --socialsBtnHover: #7546ad;
    --demoBtn: #9F50FD;
    --demoBtnHover: #914ce6;
    --box1: #9C73CA;
    --box2: #8661B3;
    --box3: #552D8A;
    --box4: #674392;
    --light: #FBF8FF;
    --dark: #313131;
    --white: #fff;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--light);
}

h1, h3 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
}

h3 {
    font-size: 15px;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

main {
    padding-top: 40px;
    padding-bottom: 90px;
}

.banner {
    background-color: var(--banner);
    height: 325px;
    position: relative;
}