#projects-container {
    max-width: 840px;
    margin: auto;
    padding: 20px;
}

hr {
    border-top: 1px solid var(--dark);
    margin-top: 30px;
    margin-bottom: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reverse-btns-tags {
    margin-left: normal;
    /*margin-left: auto;*/
}

.preview {
    flex: 5;
    overflow: hidden;
}

.info {
    flex: 6;
    font-size: 0.94rem;
}

.desc {
    margin-bottom: 15px;
}

.btns-tags {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.demo-btn,
.repo-btn {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 4px;
    flex: 1;
}

.demo-btn {
    background: var(--demoBtn);
    border: 2px solid var(--demoBtn);
    width: 100%;
}
.demo-btn:hover {
    background: var(--demoBtnHover);
    border: 2px solid var(--demoBtnHover);
}

.repo-btn {
    background: none;
    border: 2px solid var(--dark);
    color: var(--dark);
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .demo-btn,
    .repo-btn {
        transition: color 0.2s;
        transition: background-color 0.2s;
    }
    .preview-img {
        transition: transform 0.5s ease-in-out;
    }
    .preview-img:hover {
        transform: scale(1.07);
    }
}

.repo-btn:hover {
    background: var(--dark);
    color: var(--white);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
    font-size: 0.8rem;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
}

.tag {
    background-color: var(--dark);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.preview {
    position: relative;
    /*box-shadow: 0px 0px 8px 1.3px rgba(0, 0, 0, 0.1);*/
}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.project-title {
    color: var(--white);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 0.94rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 310px) {
    .buttons {
        flex-direction: row;
    }
    .project-title {
        white-space: wrap;
        text-overflow: inherit;
    }
}

@media only screen and (min-width: 520px) {
    .project {
        flex-direction: row;
        gap: 20px;
    }
    .reverse {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 603px) {
    .demo-btn,
    .repo-btn {
        flex: none;
        width: 140px;
    }
}
